<script type="text/javascript" src="http://www.shawnolson.net/scripts/public_smo_scripts.js"></script>

<h3>test site being used for development of the vest me model</h3>

<p>gary was here.  Xavier was here too.</p>

<% if params['commit'] == nil %>
<p>Compare against S&amp;P 500.  Choose either Equal or Custom weighting, select the symbols to include, and click Compare.  If choosing custom, add the percent weighting for the selected symbol to the right.  Note: percentages must add up to 100.</p>
<%= form_tag('/', :method => :get) do %>
<%= radio_button_tag 'weighting', 'equal', true, :onclick => "changecss('.weight_field','visibility','hidden')" %>
<%= label_tag 'weighting_equal', 'Equal Weighting' %><br />
<%= radio_button_tag 'weighting', 'custom', false, :onclick => "changecss('.weight_field','visibility','visible')" %>
<%= label_tag 'weighting_custom', 'Custom Weighting' %><br /><br />
<table border="0">
	<% @all_symbols.each do |symbol| %>
	<tr>
		<td width="60">
		<% if @default_symbols.include?(symbol) %>
			<%= check_box_tag symbol, 1, true %>
		<% else %>	
			<%= check_box_tag symbol %>
		<% end %>
			<%= label_tag symbol, symbol %>
		</td>
		<td class="weight_field">
			<%= text_field_tag symbol+'_weight' %>
		</td>
	</tr>
	<% end %>
</table>
	<%= submit_tag 'Compare' %><br /><br />
	<%= check_box_tag 'verbose_info' %>
	<%= label_tag 'verbose_info', 'Show Verbose Calculation Detail' %>
<% end %>	

<% else 

# Get list of selected symbols
selected_symbols = Array.new
selected_symbols_weights = Array.new
@all_symbols.each do |symbol|
	if params[symbol]
		selected_symbols.push symbol
	end
end

# Calling selected_returns second so that it's values remain in instance variables for verbose output.
sp500_returns = get_equal_weighting_returns(['^GSPC'])

if params['weighting'] == 'equal'
	selected_returns = get_equal_weighting_returns(selected_symbols) 
else
	selected_symbols.each do |symbol|
		symbol_weight = params[symbol+'_weight']
		if symbol_weight == ""
			raise "Error: weight for " + symbol + " is empty."
		elsif symbol_weight.to_f <= 0.0
			raise "Error: weight for " + symbol + " is either not valid.  It must be number greater 0."
		else
			selected_symbols_weights.push symbol_weight.to_f
		end
		selected_symbols
	end
	selected_returns = get_custom_weighting_returns(selected_symbols, selected_symbols_weights) 
end	%>

<%= image_tag(Gchart.line(
					:data => [selected_returns, sp500_returns], 
					:line_colors => "FF0000,00FF00", 
					:size => (size = '600x400'),
					)) %>

<p>
Green line is $100 of ^GSPC.<br />
Red line is $100 of equal weighting of <%= selected_symbols %>.
</p>
<p>
<%= link_to 'Start Over', '/' %>
</p>
<% end %>

<% if params['verbose_info'] %>
<table border="1">
	<tr>
		<td></td>
		<td colspan=<%= selected_symbols.count %>>Closing Prices</td>
		<td colspan=<%= selected_symbols.count %>>Total $ Returns</td>
		<td colspan=<%= selected_symbols.count %>>Total % Returns</td>
		<td colspan=2>Combined</td>
	</tr>
	<tr>
		<td>Date</td>
		<% selected_symbols.each do |symbol| %>
		<td>c<%= symbol %></td>
		<% end %>
		<% selected_symbols.each do |symbol| %>
		<td><%= symbol %></td>
		<% end %>
		<% selected_symbols.each do |symbol| %>
		<td><%= symbol %></td>
		<% end %>
		<td>%</td>
		<td>$</td>
	</tr>
	
<% 
i = 0

while i < @all_quotes[0].count do 
	%>
	<tr>
		<td><%= @all_quote_dates[0][i] %></td>
	<%
	j = 0
	while j < @all_quotes.count do
		%>
		<td><%= @all_quotes[j][i] %></td>
		<%
		j += 1
	end
	
	j = 0
	while j < @all_quotes.count do
		%>
		<td><%= @all_total_returns[i][j].round(2) %></td>
		<%
		j += 1
	end

	j = 0
	while j < @all_quotes.count do
		%>
		<td><%= (100 * @all_percent_returns[i][j]).round(1) %></td>
		<%
		j += 1
	end
	%>
		<td><%= (100 * @all_combined_returns[i]).round(4) %></td>
		<td><%= selected_returns[i].round(2) %></td>
	</tr>
	<%
	i += 1
	j = 0
end %>
</table>
<% end %>
