<% if params['commit'] == nil %>
<p>Compare against S&amp;P 500 using equal weighting.  Select the symbols to include and click compare.</p>
<%= form_tag('/', :method => :get) do %>
	<% @all_symbols.each do |symbol|
		$symbol_label = symbol
		if @default_symbols.include?($symbol_label) %> 
			<%= check_box_tag "#$symbol_label", 1, true %>
			<%= label_tag "#$symbol_label", "#$symbol_label" %>		
		<% else %>	
			<%= check_box_tag "#$symbol_label" %>
			<%= label_tag "#$symbol_label", "#$symbol_label" %>
		<% end %> 
	<% end %>
	<%= submit_tag 'Compare' %>
<% end %>	

<% else 

# Get list of selected symbols
selected_symbols = Array.new
@all_symbols.each do |symbol|
	if params[symbol]
		selected_symbols.push symbol
	end
end

selected_returns = get_equal_weighting_returns(selected_symbols)
sp500_returns = get_equal_weighting_returns(['^GSPC']) %>

<%= image_tag(Gchart.line(
					:data => [selected_returns, sp500_returns], 
					:line_colors => "FF0000,00FF00", 
					:size => (size = '600x400'),
					)) %>

<p>
Green line is $100 of ^GSPC.<br />
Red line is $100 of equal weighting of <%= selected_symbols %>.
</p>
<p>
<%= link_to 'Start Over', '/' %>
</p>
<% end %>
